<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <h1>New Skill</h1>
    <%- include('../partials/nav.ejs') %>
  <form action="/skills" method="POST" autocomplete="off">
    <input type="text" name="skill" placeholder="New Skill..">
    <button type="submit" class='submitBtn'>Save Skill</button>
  </form>
  <%- include('../partials/footer.ejs') %>
</body>
</html>