<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %> 
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/skills">Skills List</a>
    <a href="/new">New Skill</a>
  </body>
</html>
